.wrapper{
    width: 92%;
    margin-left: auto;
}
.profile{
    display: flex;
    align-items: flex-start;
}
.profile_info{
    max-width: 360px;
    width: 100%;
    display: flex;
}
.profile_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 85px;
}
.profile_title h3 {
    font-size: 16px;
    color: #6B7C8F;
    margin: 0;
}
.profile_title span{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.statusWrapper{
    display: flex;
}

