.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
   margin: 0 10px 10px 0;
    max-width: 265px;
    width: 100%;
}
.card img{
    margin: 0 auto;
}
.link{
    text-decoration: none;
    color: #6B7C8F;
}