.wrapper{
    width: 20%;
    position: fixed;
    top: 80px;
    background-color: #F4F7FC;
    min-height: 100vh;
}
.link{
    color: #515355;
    text-decoration: none;
    transition: all 0.5s ease-out
}
.active{
    text-decoration: none;
    color: #3644D9;
}
